In [23]:
import pandas as pd
from pyomo.environ import *

# Cargar datos (asegúrate de que df tiene las columnas correctas)
df = pd.read_csv(r'datos_talleres.csv')

In [24]:
df

,Garage Number,Garage Name,Staff,Show room space,Population in category 1,Population in category 2,Enquiries Alpha model,Enquiries Beta model,Alpha sales,Beta sales,Profit
0,1,Winchester,7,8.0,10,12,8.5,4.0,2.00,0.60,1.50
1,2,Andover,6,6.0,20,30,9.0,4.5,2.30,0.70,1.60
2,3,Basingstoke,2,3.0,40,40,2.0,1.5,0.80,0.25,0.50
3,4,Poole,14,9.0,20,25,10.0,6.0,2.60,0.86,1.90
4,5,Woking,10,9.0,10,10,11.0,5.0,2.40,1.00,2.00
5,6,Newbury,24,15.0,15,13,25.0,1.9,8.00,2.60,4.50
6,7,Portsmouth,6,7.0,50,40,8.5,3.0,2.50,0.90,1.60
7,8,Alresford,8,7.5,5,8,9.0,4.0,2.10,0.85,2.00
8,9,Salisbury,5,5.0,10,10,5.0,2.5,2.00,0.65,0.90
9,10,Guildford,8,10.0,30,35,9.5,4.5,2.05,0.75,1.70
10,11,Alton,7,8.0,7,8,3.0,2.0,1.90,0.70,0.50
11,12,Weybridge,5,6.5,9,12,8.0,4.5,1.80,0.63,1.40
12,13,Dorchester,6,7.5,10,10,7.5,4.0,1.50,0.45,1.45
13,14,Bridport,11,8.0,8,10,10.0,6.0,2.20,0.65,2.20
14,15,Weymouth,4,5.0,10,10,7.5,3.5,1.80,0.62,1.60
15,16,Portland,3,3.5,3,20,2.0,1.5,0.90,0.35,0.50
16,17,Chichester,5,5.5,8,10,7.0,3.5,1.20,0.45,1.30
17,18,Petersfield,21,12.0,6,6,15.0,8.0,6.00,0.25,2.90
18,19,Petworth,6,5.5,2,2,8.0,5.0,1.50,0.55,1.55
19,20,Midhurst,3,3.6,3,3,2.5,1.5,0.80,0.20,0.45
20,21,Reading,30,29.0,120,80,35.0,20.0,7.00,2.50,8.00
21,22,Southampton,25,16.0,110,80,27.0,12.0,6.50,3.50,5.40
22,23,Bournemouth,19,10.0,90,22,25.0,13.0,5.50,3.10,4.50
23,24,Henley,7,6.0,5,7,8.5,4.5,1.20,0.48,2.00
24,25,Maidenhead,12,8.0,7,10,12.0,7.0,4.50,2.00,2.30
25,26,Fareham,4,6.0,1,1,7.5,3.5,1.10,0.48,1.70
26,27,Romsey,2,2.5,1,1,2.5,1.0,0.40,0.10,0.55
27,28,Ringwood,2,3.5,2,2,1.9,1.2,0.30,0.09,0.40

In [25]:
 # Definir insumos y productos
inputs = ['Staff', 'Show room space', 'Population in category 1', 'Population in category 2', 'Enquiries Alpha model', 'Enquiries Beta model']
outputs = ['Alpha sales', 'Beta sales', 'Profit']
DMUs = df['Garage Name'].tolist()

# Crear modelo para cada DMU
results = {}
for k in DMUs:
    model = ConcreteModel()
    
    # Variables de peso
    model.u = Var(outputs, domain=NonNegativeReals)
    model.v = Var(inputs, domain=NonNegativeReals)
    
    # Función objetivo (Maximizar la eficiencia del taller k)
    model.obj = Objective(
        expr=sum(df.loc[df['Garage Name'] == k, o].values[0] * model.u[o] for o in outputs),
        sense=maximize
    )
    
    # Restricciones de eficiencia para todos los talleres
    model.constraints = ConstraintList()
    for j in DMUs:
        model.constraints.add(
            sum(df.loc[df['Garage Name'] == j, o].values[0] * model.u[o] for o in outputs) 
            <= sum(df.loc[df['Garage Name'] == j, i].values[0] * model.v[i] for i in inputs)
        )
    
    # Normalización (denominador de la función de eficiencia = 1)
    model.norm = Constraint(
        expr=sum(df.loc[df['Garage Name'] == k, i].values[0] * model.v[i] for i in inputs) == 1
    )
    
    # Resolver
    solver = SolverFactory('glpk')  # Asegúrate de tener GLPK instalado
    solver.solve(model)
    
    # Guardar resultados
    results[k] = {
        'Efficiency': sum(df.loc[df['Garage Name'] == k, o].values[0] * model.u[o].value for o in outputs),
        'u': {o: model.u[o].value for o in outputs},
        'v': {i: model.v[i].value for i in inputs}
    }

# Convertir resultados en DataFrame
results_df = pd.DataFrame.from_dict(results, orient='index')
print(results_df)

             Efficiency                                                  u  \
Winchester     0.835396  {'Alpha sales': 0.113198996497834, 'Beta sales...
Andover        0.917379  {'Alpha sales': 0.398860398860399, 'Beta sales...
Basingstoke    1.000000  {'Alpha sales': 1.25, 'Beta sales': 0.0, 'Prof...
Poole          0.864467  {'Alpha sales': 0.0651289289214115, 'Beta sale...
Woking         0.845000  {'Alpha sales': 0.0, 'Beta sales': 0.217669299...
Newbury        1.000000  {'Alpha sales': 0.125, 'Beta sales': 0.0, 'Pro...
Portsmouth     1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.953744684...
Alresford      1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.267950356...
Salisbury      1.000000  {'Alpha sales': 0.5, 'Beta sales': 0.0, 'Profi...
Guildford      0.802439  {'Alpha sales': 0.0619833804437647, 'Beta sale...
Alton          1.000000  {'Alpha sales': 0.0, 'Beta sales': 1.428571428...
Weybridge      0.854345  {'Alpha sales': 0.379436964504284, 'Beta sales...
Dorchester     0.866522  {'Alpha sales': 0.109609516098897, 'Beta sales...
Bridport       0.981572  {'Alpha sales': 0.059602588140142, 'Beta sales...
Weymouth       1.000000  {'Alpha sales': 0.0, 'Beta sales': 1.006447893...
Portland       1.000000  {'Alpha sales': 0.0, 'Beta sales': 1.650618982...
Chichester     0.825417  {'Alpha sales': 0.0978524784232355, 'Beta sale...
Petersfield    1.000000  {'Alpha sales': 0.166666666666667, 'Beta sales...
Petworth       0.987836  {'Alpha sales': 0.141041807305133, 'Beta sales...
Midhurst       0.888808  {'Alpha sales': 0.294439510611673, 'Beta sales...
Reading        0.983967  {'Alpha sales': 0.0193836120822912, 'Beta sale...
Southampton    1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.127967730...
Bournemouth    1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.234415837...
Henley         1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...
Maidenhead     1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.5, 'Profi...
Fareham        1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...
Romsey         1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...
Ringwood       0.907502  {'Alpha sales': 0.299425426883545, 'Beta sales...

                                                             v
Winchester   {'Staff': 0.0124265446060867, 'Show room space...
Andover      {'Staff': 0.108618233618234, 'Show room space'...
Basingstoke  {'Staff': 0.428571428571429, 'Show room space'...
Poole        {'Staff': 0.0, 'Show room space': 0.0188451284...
Woking       {'Staff': 0.0150829089095783, 'Show room space...
Newbury      {'Staff': 0.0, 'Show room space': 0.0, 'Popula...
Portsmouth   {'Staff': 0.111125574937082, 'Show room space'...
Alresford    {'Staff': 0.0185670226722319, 'Show room space...
Salisbury    {'Staff': 0.159914017717561, 'Show room space'...
Guildford    {'Staff': 0.0143328989864454, 'Show room space...
Alton        {'Staff': 0.0606989576946658, 'Show room space...
Weybridge    {'Staff': 0.149326805385557, 'Show room space'...
Dorchester   {'Staff': 0.0139814411160241, 'Show room space...
Bridport     {'Staff': 0.0, 'Show room space': 0.0022333737...
Weymouth     {'Staff': 0.142847942525356, 'Show room space'...
Portland     {'Staff': 0.0529996825732727, 'Show room space...
Chichester   {'Staff': 0.0111081225973722, 'Show room space...
Petersfield  {'Staff': 0.0173818274629913, 'Show room space...
Petworth     {'Staff': 0.0, 'Show room space': 0.1558592638...
Midhurst     {'Staff': 0.0180557757395993, 'Show room space...
Reading      {'Staff': 0.000781099692834318, 'Show room spa...
Southampton  {'Staff': 0.0143019454352559, 'Show room space...
Bournemouth  {'Staff': 0.0309963964122827, 'Show room space...
Henley       {'Staff': 0.0191739422431161, 'Show room space...
Maidenhead   {'Staff': 0.0495867768595041, 'Show room space...
Fareham      {'Staff': 0.0963966738527872, 'Show room space...
Romsey       {'Staff': 0.0121638924455828, 'Show room space...
Ringwood     {'Staff': 0.0, 'Show room space': 0.0, 'Popula...

In [26]:
eficientes = results_df[results_df['Efficiency'] == 1]
ineficientes = results_df[results_df['Efficiency'] < 1]
print("Talleres eficientes:")
print(eficientes)
print("Talleres ineficientes:")
print(ineficientes)

Talleres eficientes:
            Efficiency                                                  u  \
Newbury            1.0  {'Alpha sales': 0.125, 'Beta sales': 0.0, 'Pro...
Salisbury          1.0  {'Alpha sales': 0.5, 'Beta sales': 0.0, 'Profi...
Henley             1.0  {'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...
Maidenhead         1.0  {'Alpha sales': 0.0, 'Beta sales': 0.5, 'Profi...

                                                            v
Newbury     {'Staff': 0.0, 'Show room space': 0.0, 'Popula...
Salisbury   {'Staff': 0.159914017717561, 'Show room space'...
Henley      {'Staff': 0.0191739422431161, 'Show room space...
Maidenhead  {'Staff': 0.0495867768595041, 'Show room space...
Talleres ineficientes:
             Efficiency                                                  u  \
Winchester     0.835396  {'Alpha sales': 0.113198996497834, 'Beta sales...
Andover        0.917379  {'Alpha sales': 0.398860398860399, 'Beta sales...
Basingstoke    1.000000  {'Alpha sales': 1.25, 'Beta sales': 0.0, 'Prof...
Poole          0.864467  {'Alpha sales': 0.0651289289214115, 'Beta sale...
Woking         0.845000  {'Alpha sales': 0.0, 'Beta sales': 0.217669299...
Guildford      0.802439  {'Alpha sales': 0.0619833804437647, 'Beta sale...
Weybridge      0.854345  {'Alpha sales': 0.379436964504284, 'Beta sales...
Dorchester     0.866522  {'Alpha sales': 0.109609516098897, 'Beta sales...
Bridport       0.981572  {'Alpha sales': 0.059602588140142, 'Beta sales...
Weymouth       1.000000  {'Alpha sales': 0.0, 'Beta sales': 1.006447893...
Portland       1.000000  {'Alpha sales': 0.0, 'Beta sales': 1.650618982...
Chichester     0.825417  {'Alpha sales': 0.0978524784232355, 'Beta sale...
Petworth       0.987836  {'Alpha sales': 0.141041807305133, 'Beta sales...
Midhurst       0.888808  {'Alpha sales': 0.294439510611673, 'Beta sales...
Reading        0.983967  {'Alpha sales': 0.0193836120822912, 'Beta sale...
Fareham        1.000000  {'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...
Ringwood       0.907502  {'Alpha sales': 0.299425426883545, 'Beta sales...

                                                             v
Winchester   {'Staff': 0.0124265446060867, 'Show room space...
Andover      {'Staff': 0.108618233618234, 'Show room space'...
Basingstoke  {'Staff': 0.428571428571429, 'Show room space'...
Poole        {'Staff': 0.0, 'Show room space': 0.0188451284...
Woking       {'Staff': 0.0150829089095783, 'Show room space...
Guildford    {'Staff': 0.0143328989864454, 'Show room space...
Weybridge    {'Staff': 0.149326805385557, 'Show room space'...
Dorchester   {'Staff': 0.0139814411160241, 'Show room space...
Bridport     {'Staff': 0.0, 'Show room space': 0.0022333737...
Weymouth     {'Staff': 0.142847942525356, 'Show room space'...
Portland     {'Staff': 0.0529996825732727, 'Show room space...
Chichester   {'Staff': 0.0111081225973722, 'Show room space...
Petworth     {'Staff': 0.0, 'Show room space': 0.1558592638...
Midhurst     {'Staff': 0.0180557757395993, 'Show room space...
Reading      {'Staff': 0.000781099692834318, 'Show room spa...
Fareham      {'Staff': 0.0963966738527872, 'Show room space...
Ringwood     {'Staff': 0.0, 'Show room space': 0.0, 'Popula...

In [27]:
eficientes

,Efficiency,u,v
Newbury,1.0,"{'Alpha sales': 0.125, 'Beta sales': 0.0, 'Pro...","{'Staff': 0.0, 'Show room space': 0.0, 'Popula..."
Salisbury,1.0,"{'Alpha sales': 0.5, 'Beta sales': 0.0, 'Profi...","{'Staff': 0.159914017717561, 'Show room space'..."
Henley,1.0,"{'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...","{'Staff': 0.0191739422431161, 'Show room space..."
Maidenhead,1.0,"{'Alpha sales': 0.0, 'Beta sales': 0.5, 'Profi...","{'Staff': 0.0495867768595041, 'Show room space..."

In [28]:
ineficientes

,Efficiency,u,v
Winchester,0.835396,"{'Alpha sales': 0.113198996497834, 'Beta sales...","{'Staff': 0.0124265446060867, 'Show room space..."
Andover,0.917379,"{'Alpha sales': 0.398860398860399, 'Beta sales...","{'Staff': 0.108618233618234, 'Show room space'..."
Basingstoke,1.000000,"{'Alpha sales': 1.25, 'Beta sales': 0.0, 'Prof...","{'Staff': 0.428571428571429, 'Show room space'..."
Poole,0.864467,"{'Alpha sales': 0.0651289289214115, 'Beta sale...","{'Staff': 0.0, 'Show room space': 0.0188451284..."
Woking,0.845000,"{'Alpha sales': 0.0, 'Beta sales': 0.217669299...","{'Staff': 0.0150829089095783, 'Show room space..."
Guildford,0.802439,"{'Alpha sales': 0.0619833804437647, 'Beta sale...","{'Staff': 0.0143328989864454, 'Show room space..."
Weybridge,0.854345,"{'Alpha sales': 0.379436964504284, 'Beta sales...","{'Staff': 0.149326805385557, 'Show room space'..."
Dorchester,0.866522,"{'Alpha sales': 0.109609516098897, 'Beta sales...","{'Staff': 0.0139814411160241, 'Show room space..."
Bridport,0.981572,"{'Alpha sales': 0.059602588140142, 'Beta sales...","{'Staff': 0.0, 'Show room space': 0.0022333737..."
Weymouth,1.000000,"{'Alpha sales': 0.0, 'Beta sales': 1.006447893...","{'Staff': 0.142847942525356, 'Show room space'..."
Portland,1.000000,"{'Alpha sales': 0.0, 'Beta sales': 1.650618982...","{'Staff': 0.0529996825732727, 'Show room space..."
Chichester,0.825417,"{'Alpha sales': 0.0978524784232355, 'Beta sale...","{'Staff': 0.0111081225973722, 'Show room space..."
Petworth,0.987836,"{'Alpha sales': 0.141041807305133, 'Beta sales...","{'Staff': 0.0, 'Show room space': 0.1558592638..."
Midhurst,0.888808,"{'Alpha sales': 0.294439510611673, 'Beta sales...","{'Staff': 0.0180557757395993, 'Show room space..."
Reading,0.983967,"{'Alpha sales': 0.0193836120822912, 'Beta sale...","{'Staff': 0.000781099692834318, 'Show room spa..."
Fareham,1.000000,"{'Alpha sales': 0.0, 'Beta sales': 0.0, 'Profi...","{'Staff': 0.0963966738527872, 'Show room space..."
Ringwood,0.907502,"{'Alpha sales': 0.299425426883545, 'Beta sales...","{'Staff': 0.0, 'Show room space': 0.0, 'Popula..."

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Garage Number             28 non-null     int64
 1   Garage Name               28 non-null     object
 2   Staff                     28 non-null     int64
 3   Show room space           28 non-null     float64
 4   Population in category 1  28 non-null     int64
 5   Population in category 2  28 non-null     int64
 6   Enquiries Alpha model     28 non-null     float64
 7   Enquiries Beta model      28 non-null     float64
 8   Alpha sales               28 non-null     float64
 9   Beta sales                28 non-null     float64
 10  Profit                    28 non-null     float64
dtypes: float64(6), int64(4), object(1)
memory usage: 2.5+ KB

In [31]:
final_results

,Garage Number,Efficiency,Input_Weight_Staff,Input_Weight_Show room space,Input_Weight_Population in category 1,Input_Weight_Population in category 2,Input_Weight_Enquiries Alpha model,Input_Weight_Enquiries Beta model,Output_Weight_Alpha sales,Output_Weight_Beta sales,Output_Weight_Profit
Petersfield,18.0,1.000000,0.017381,0.000001,0.010546,0.000001,0.029023,0.017044,0.166666,0.000001,0.000001
Romsey,27.0,1.000000,0.012160,0.000001,0.000001,0.000001,0.298081,0.230471,0.000001,0.000001,1.818181
Bournemouth,23.0,1.000000,0.031005,0.005809,0.000001,0.000001,0.000001,0.027128,0.000001,0.234273,0.060833
Maidenhead,25.0,1.000000,0.049584,0.000001,0.000001,0.000001,0.000001,0.057850,0.000001,0.499997,0.000001
Newbury,6.0,1.000000,0.000001,0.000001,0.000001,0.000001,0.000001,0.526267,0.124999,0.000001,0.000001
Salisbury,9.0,1.000000,0.159912,0.000001,0.001315,0.000001,0.000001,0.074907,0.499999,0.000001,0.000001
Henley,24.0,1.000000,0.019176,0.050017,0.000001,0.000001,0.037395,0.055066,0.000001,0.000001,0.499999
Alton,11.0,1.000000,0.060695,0.000001,0.000001,0.000001,0.077256,0.171673,0.000001,1.428568,0.000001
Alresford,8.0,1.000000,0.018566,0.000001,0.000001,0.000962,0.076010,0.039918,0.000001,0.267944,0.386123
Portland,16.0,1.000000,0.052989,0.000001,0.000001,0.000001,0.256165,0.219118,0.000001,1.650501,0.844647
Portsmouth,7.0,1.000000,0.111125,0.000001,0.000001,0.000001,0.000001,0.111049,0.000001,0.953450,0.088683
Southampton,22.0,1.000000,0.014256,0.008315,0.000001,0.000001,0.011831,0.015912,0.000001,0.127699,0.102416
Fareham,26.0,1.000000,0.096394,0.000001,0.000001,0.000001,0.000001,0.175545,0.000001,0.000001,0.588234
Weymouth,15.0,1.000000,0.142846,0.000001,0.001383,0.000001,0.000001,0.118503,0.000001,1.006436,0.235005
Basingstoke,3.0,1.000000,0.428418,0.000001,0.000001,0.000001,0.071540,0.000001,1.249672,0.000001,0.000525
Petworth,19.0,0.987832,0.000001,0.155856,0.058056,0.013331,0.000001,0.000001,0.141045,0.000001,0.500816
Reading,21.0,0.983888,0.000780,0.005939,0.000001,0.000089,0.022775,0.000001,0.019379,0.000001,0.106029
Bridport,14.0,0.981567,0.000001,0.002237,0.000001,0.002371,0.095837,0.000001,0.059606,0.000001,0.386561
Andover,2.0,0.917352,0.108610,0.037725,0.000001,0.000001,0.000001,0.027096,0.398848,0.000001,0.000001
Ringwood,28.0,0.907499,0.000001,0.000001,0.000001,0.013352,0.512256,0.000001,0.299425,0.000001,2.044178
Midhurst,20.0,0.888806,0.018052,0.000001,0.000001,0.010571,0.365649,0.000001,0.294432,0.047369,1.430635
Dorchester,13.0,0.866516,0.013983,0.000001,0.000001,0.003145,0.117951,0.000001,0.109617,0.000001,0.484201
Poole,4.0,0.864453,0.000001,0.018843,0.000001,0.000634,0.081453,0.000001,0.065128,0.000001,0.365852
Weybridge,12.0,0.854341,0.149323,0.000001,0.028150,0.000001,0.000001,0.000001,0.379430,0.000001,0.122404
Woking,5.0,0.844996,0.015081,0.000001,0.000001,0.000782,0.061747,0.032427,0.000001,0.217662,0.313666
Winchester,1.0,0.835394,0.012428,0.000001,0.000001,0.002470,0.094725,0.019545,0.113200,0.003871,0.404447
Chichester,17.0,0.825415,0.011108,0.007951,0.000001,0.002442,0.125185,0.000001,0.097855,0.000001,0.544607
Guildford,10.0,0.802429,0.014340,0.000001,0.000001,0.000405,0.074627,0.036022,0.061976,0.000001,0.397280